# Flutter ephemeral folder
flutter/ephemeral/

# Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related folders
x64/
x86/

# Visual Studio cache files
*.[Cc]ache
!*.[Cc]ache/

# Windows desktop build artifacts
*.dll
*.exe
*.lib
*.exp
*.manifest
