# === Android / IntelliJ ===
*.iml
*.ipr
*.iws
.idea/
.gradle/
build/
local.properties
.metadata/

# === Miscellaneous ===
*.class
*.log
.DS_Store
*.db
*.dat

# === Flutter / Dart caches ===
.dart_tool/
.flutter-plugins-dependencies
.pub/
.pub-cache/

# === ignore OS-specific files ===
Thumbs.db
Desktop.ini
