name: sharebites
description: "A Food Donation Matcher App with C++ Backend."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.5
  ffi: ^2.1.0
  sqflite: ^2.3.0
  sqflite_common_ffi: ^2.4.0
  provider: ^6.1.2
  google_maps_flutter: ^2.3.0
  path: ^1.8.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true